Source: tuntox
Section: net
Priority: optional
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1),
 libsodium-dev (>= 0.5.0) | tox-libsodium-dev,
 tox-libtoxcore-dev
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Standards-Version: 3.9.4
Homepage: https://github.com/gjedeer/tuntox

Package: tuntox
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: Tuntox is a program which forwards TCP connections over the Tox
 A program which forwards TCP connections over the Tox protocol. This allows
 low-latency access to distant machines behind a NAT you can't control or with
 a dynamic IP address.

Package: tuntox-dbg
Section: debug
Priority: extra
Depends: tuntox (= ${binary:Version}), ${misc:Depends}
Architecture: any
Description: Debug symbols for tuntox
 A program which forwards TCP connections over the Tox protocol. This allows
 low-latency access to distant machines behind a NAT you can't control or with
 a dynamic IP address.
