%global _project    tox
%global _prefix     /usr
%global _libdir     %{_prefix}/%{_project}/lib
%global _includedir %{_prefix}/%{_project}/include

Name:           %PACKAGE%
Version:        %VERSION%
Release:        1
Summary:        Ncurses-based CLI tox-based instant messenging client
License:        GPL-3
Group:          Applications/Internet
URL:            https://github.com/Tox/toxic
Conflicts:      %{name}-nox, %{name}-ngc, %{name}-ngc-nox
BuildRequires:  pkgconfig, asciidoc, gettext, libconfig-devel, ncurses-devel, qrencode-devel, openal-devel, freealut-devel
BuildRequires:  libvpx-devel, libsodium-devel >= 0.5.0
BuildRequires:  tox-libtoxcore-devel
Source0:        https://build.opensuse.org/source/home:antonbatenev:tox/%{name}/%{name}_%{version}.tar.bz2
Patch0:         https://build.opensuse.org/source/home:antonbatenev:tox/%{name}/centos.notify.c.patch
Patch1:         https://build.opensuse.org/source/home:antonbatenev:tox/%{name}/opensuse.Makefile.patch
BuildRoot:      %{_tmppath}/%{name}-%{version}-build

%if 0%{?suse_version}
BuildRequires:  libopus-devel
%else
BuildRequires:  opus-devel
%endif

%if 0%{?fedora} >= 24
BuildRequires:  ghostscript-core
%endif

%if 0%{?centos} == 7 || 0%{?mageia}
BuildRequires:  libnotify-devel gnome-shell
%else
BuildRequires:  libnotify-devel
%endif

%if 0%{?centos}
BuildRequires:  curl-devel
%else
BuildRequires:  libcurl-devel
%endif

%if 0%{?mageia}
BuildRequires:  libx11-devel, libncursesw-devel, sane-backends-iscan, curl
%else
BuildRequires:  libX11-devel
%endif

%if 0%{?suse_version}
BuildRequires:  -post-build-checks
%endif

%description
Ncurses-based CLI tox-based instant messenging client


%package        nox
Summary:        Ncurses-based CLI tox-based instant messenging client (without X support)
Conflicts:      %{name}, %{name}-ngc, %{name}-ngc-nox

%description    nox
Ncurses-based CLI tox-based instant messenging client (without X support)


%prep
%setup -q -n %{name}

debian/patch.sh

%if 0%{?centos} == 6
%patch0
%endif

%if 0%{?suse_version} == 1310 || 0%{?suse_version} == 1315
%patch1
%endif


%build
export PKG_CONFIG_PATH=%(pkg-config --variable pc_path pkg-config):%{_libdir}/pkgconfig

%global USER_CFLAGS    ${RPM_OPT_FLAGS} -I%{_includedir}
%global USER_LDFLAGS   ${RPM_LD_FLAGS} -L%{_libdir}
%global USER_BUILD_DIR %{_sourcedir}/build-toxic
%global USER_MAKE_ARGS %{nil}

%if 0%{?suse_version} == 1310 || 0%{?suse_version} == 1315
%global USER_LDFLAGS %{USER_LDFLAGS} -lncursesw
%endif

%global USER_CFLAGS_NOX    %{USER_CFLAGS}
%global USER_LDFLAGS_NOX   %{USER_LDFLAGS}
%global USER_BUILD_DIR_NOX %{USER_BUILD_DIR}-nox
%global USER_MAKE_ARGS_NOX %{USER_MAKE_ARGS} DISABLE_X11=1 DISABLE_AV=1 DISABLE_SOUND_NOTIFY=1 DISABLE_DESKTOP_NOTIFY=1

make PREFIX="%{_prefix}" BUILD_DIR="%{USER_BUILD_DIR}"     USER_CFLAGS="%{USER_CFLAGS}"     USER_LDFLAGS="%{USER_LDFLAGS}"     %{USER_MAKE_ARGS}     %{?_smp_mflags}
make PREFIX="%{_prefix}" BUILD_DIR="%{USER_BUILD_DIR_NOX}" USER_CFLAGS="%{USER_CFLAGS_NOX}" USER_LDFLAGS="%{USER_LDFLAGS_NOX}" %{USER_MAKE_ARGS_NOX} %{?_smp_mflags}


%install
make PREFIX="%{_prefix}" BUILD_DIR="%{USER_BUILD_DIR}" DESTDIR="%{buildroot}" %{USER_MAKE_ARGS} install
cp "%{USER_BUILD_DIR_NOX}/toxic" "%{buildroot}%{_prefix}/bin/toxic-nox"


%post nox
ln -s %{_bindir}/toxic-nox %{_bindir}/toxic


%postun nox
rm -f %{_bindir}/toxic


%files
%defattr(-,root,root,-)
%doc COPYING README.md

%{_bindir}/toxic
%{_datadir}/man/*/*
%{_datadir}/toxic
%{_datadir}/applications/*


%files nox
%defattr(-,root,root,-)
%doc COPYING README.md

%{_bindir}/toxic-nox
%{_datadir}/man/*/*
%{_datadir}/toxic/toxic.conf.example
%{_datadir}/toxic/nameservers


%changelog
* %DATE% Anton Batenev <antonbatenev@yandex.ru> - %VERSION%
- Initial
