[Unit]
Description=Tox DHT Bootstrap Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/tox-bootstrapd/tox-bootstrapd.pid
WorkingDirectory=/var/lib/tox-bootstrapd
ExecStart=/usr/bin/tox-bootstrapd --config /etc/tox-bootstrapd.conf
User=tox-bootstrapd
Group=tox-bootstrapd

[Install]
WantedBy=multi-user.target
