Source: tox-qt5
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1),
 zlib1g-dev, libcurl4-openssl-dev, libglib2.0-dev, libgtk2.0-dev, libpcre3-dev,
 libfontconfig-dev, libcups2-dev,
 libjpeg-dev, libtiff-dev, libgif-dev, libmng-dev, libpng-dev, libgl1-mesa-dev, libegl1-mesa-dev,
 libxcb1-dev, libxcb-xkb-dev, libxcb-glx0-dev, libxcb-icccm4-dev, libxcb-image0-dev, libxcb-keysyms1-dev, libxcb-render-util0-dev,
 libudev-dev, libalsaplayer-dev, libpulse-dev,
 libsqlite3-dev, libicu-dev
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Standards-Version: 3.9.4
Homepage: http://www.qt.io/ru/download-open-source/

Package: tox-qt5
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: Qt 5 development package
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package sets Qt 5 to be the default Qt version to be used when
 using development binaries like qmake. It provides a default
 configuration for qtchooser, but does not prevent alternative Qt
 installations from being used.
 .
 This package should not be used for building Debian packages. Take a
 look at http://pkg-kde.alioth.debian.org/packagingqtstuff.html for
 more information.

Package: tox-qt5-dev
Depends: ${misc:Depends}, tox-qt5 (= ${binary:Version})
Architecture: any
Description: Qt 5 development package
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package sets Qt 5 to be the default Qt version to be used when
 using development binaries like qmake. It provides a default
 configuration for qtchooser, but does not prevent alternative Qt
 installations from being used.
 .
 This package should not be used for building Debian packages. Take a
 look at http://pkg-kde.alioth.debian.org/packagingqtstuff.html for
 more information.
