#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# disable excluding files from source
export DH_ALWAYS_EXCLUDE=""

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PROJECT = tox
PREFIX  = /usr/$(PROJECT)

CODENAME = $(shell /usr/bin/lsb_release --codename --short)

ifneq (,$(filter precise, $(CODENAME)))
    CC  = $(PREFIX)/bin/gcc
    CXX = $(PREFIX)/bin/g++
    CONFIGURE_GCC_OPTS = -L $(PREFIX)/lib -L $(PREFIX)/lib64 -I $(PREFIX)/include
endif

CONFIGURE_OPTS =      \
    -prefix $(PREFIX) \
    -opensource       \
    -confirm-license  \
    -release          \
    -static           \
    -no-rpath         \
    -no-pch           \
    -nomake tests     \
    -nomake examples  \
    -dbus-linked      \
    -no-sql-sqlite2   \
    -qt-sql-sqlite    \
    -system-sqlite    \
    -skip wayland     \
    -verbose

override_dh_auto_test:
	/bin/true

override_dh_auto_configure:
	sed -i -r -e "s|^QMAKE_CC(\\s+)=(\\s+)gcc$$|QMAKE_CC = $(CC)|g"        qtbase/mkspecs/common/g++-base.conf
	sed -i -r -e "s|^QMAKE_CXX(\\s+)=(\\s+)g\\+\\+$$|QMAKE_CXX = $(CXX)|g" qtbase/mkspecs/common/g++-base.conf

	./configure $(CONFIGURE_OPTS) $(CONFIGURE_GCC_OPTS)

override_dh_auto_install:
	make INSTALL_ROOT=$(CURDIR)/debian/tmp install

override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(LIBDIR) dh_shlibdeps

%:
	dh $@ --parallel
