#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PROJECT    = tox
PREFIX     = /usr/$(PROJECT)
LIBDIR     = $(PREFIX)/lib
INCLUDEDIR = $(PREFIX)/include

CONFIGURE_OPTS =      \
    -prefix $(PREFIX) \
    -opensource       \
    -confirm-license  \
    -release          \
    -static           \
    -no-rpath         \
    -nomake tests     \
    -nomake examples  \
    -dbus-linked      \
    -no-sql-sqlite2   \
    -qt-sql-sqlite    \
    -system-sqlite    \
    -optimized-qmake

override_dh_auto_configure:
	free
	df -h
	env

	./configure $(CONFIGURE_OPTS)

override_dh_auto_install:
	make INSTALL_ROOT=$(CURDIR)/debian/tmp install

override_dh_auto_test:
	/bin/true

override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(LIBDIR) dh_shlibdeps

%:
	dh $@ --parallel
