Source: tox-libfilteraudio
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1)
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Standards-Version: 3.9.4
Homepage: https://github.com/irungentoo/filter_audio

Package: tox-libfilteraudio
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: Lightweight audio filtering library made from webrtc code.

Package: tox-libfilteraudio-dev
Section: libdevel
Depends: ${misc:Depends}, tox-libfilteraudio (= ${binary:Version})
Architecture: any
Description: Lightweight audio filtering library made from webrtc code.
