#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PROJECT     = tox
PREFIX      = /usr/$(PROJECT)
RLIBDIR     = lib
RINCLUDEDIR = include
LIBDIR      = $(PREFIX)/$(RLIBDIR)
INCLUDEDIR  = $(PREFIX)/$(RINCLUDEDIR)

override_dh_auto_build:
	make PREFIX=$(PREFIX)

override_dh_auto_install:
	make PREFIX=$(PREFIX) LIBDIR=$(RLIBDIR) INCLUDEDIR=$(RINCLUDEDIR) DESTDIR=$(CURDIR)/debian/tmp install
	find debian/tmp -name '*.so*' -delete

override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(LIBDIR) dh_shlibdeps

%:
	dh $@ --parallel
