Source: gcc
Section: devel
Priority: optional
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1), libc6-dev (>= 2.13), g++-multilib, libgmp-dev, libmpfr-dev, libmpc-dev, bison, flex
Maintainer: Anthony Bilinski <me@abilinski.com>
Standards-Version: 3.9.4

Package: gcc
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: GCC version 6.1.0
 This package adds C++ support to the GNU Compiler Collection
 version 6.1.0.  It includes support for most of the current C++ specification
 and a lot of support for the upcoming C++ specification.
