#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PROJECT    = tox
PREFIX     = /usr
LIBDIR     = $(PREFIX)/$(PROJECT)/lib
INCLUDEDIR = $(PREFIX)/$(PROJECT)/include
DISTRONAME = $(shell /usr/bin/lsb_release --id --short)

ifneq (,$(filter Ubuntu, $(DISTRONAME)))
    # fix me, now not compiled
    MAKE_FLAGS = UNITY=0
else
    MAKE_FLAGS = UNITY=0
endif

CFLAGS  += -I$(INCLUDEDIR)
LDFLAGS += -L$(LIBDIR)

USER_CFLAGS  := $(CFLAGS)
USER_LDFLAGS := $(LDFLAGS)

export PKG_CONFIG_PATH=$(shell pkg-config --variable pc_path pkg-config):$(LIBDIR)/pkgconfig

override_dh_auto_build:
	debian/patch.sh
	make PREFIX=$(PREFIX) USER_CFLAGS="$(USER_CFLAGS)" USER_LDFLAGS="$(USER_LDFLAGS)" $(MAKE_FLAGS)

override_dh_auto_test:
	/bin/true

override_dh_auto_install:
	make PREFIX=$(PREFIX) DESTDIR=$(CURDIR)/debian/tmp $(MAKE_FLAGS) install

override_dh_strip:
	dh_strip --dbg-package=utox-dbg

override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(LIBDIR) dh_shlibdeps

%:
	dh $@ --parallel
