Source: toxvpn
Section: net
Priority: optional
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1), cmake,
 libcap-dev, libjsoncpp-dev,
 libvpx-dev | tox-libvpx-dev,
 libopus-dev | tox-libopus-dev,
 libsodium-dev (>= 0.5.0) | tox-libsodium-dev,
 tox-libtoxcore-dev
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Standards-Version: 3.9.4
Homepage: https://github.com/cleverca22/toxvpn

Package: toxvpn
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: Tool to make tunneled point to point connections over Tox
 toxvpn is a powerful tool that allows one to make tunneled point to point
 connections over Tox. Using Tox for transport allows fast, efficient and
 reliable enrypted tunneling.

Package: toxvpn-dbg
Section: debug
Priority: extra
Depends: toxvpn (= ${binary:Version}), ${misc:Depends}
Architecture: any
Description: Debug symbols for toxvpn
 toxvpn is a powerful tool that allows one to make tunneled point to point
 connections over Tox. Using Tox for transport allows fast, efficient and
 reliable enrypted tunneling.
