#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PROJECT       = tox
PREFIX        = /usr
TOX_PREFIX    = $(PREFIX)/$(PROJECT)
SODIUM_PREFIX = $(TOX_PREFIX)

CFLAGS += -Wno-conversion

export PKG_CONFIG_PATH=$(shell pkg-config --variable pc_path pkg-config):$(LIBDIR)/pkgconfig

override_dh_auto_configure:
	cmake -DSTATIC=1 -DTOX_PREFIX=$(TOX_PREFIX) -DSODIUM_PREFIX=$(SODIUM_PREFIX) -DCMAKE_INSTALL_PREFIX=$(PREFIX) -DCMAKE_EXE_LINKER_FLAGS=-lrt .

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/tmp install

override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(LIBDIR) dh_shlibdeps

%:
	dh $@ --parallel
