[Unit]
Description=tuntox daemon
After=network.target

[Service]
Type=simple
PIDFile=/var/run/tuntoxd/tuntoxd.pid
WorkingDirectory=/var/lib/tuntoxd
Environment=LOGLEVEL=''
Environment=PASSWORD=P@ssw0rd
EnvironmentFile=-/etc/default/tuntoxd
EnvironmentFile=-/etc/sysconfig/tuntoxd
ExecStart=/usr/bin/tuntoxd -S $LOGLEVEL -C /var/lib/tuntoxd -F /var/run/tuntoxd/tuntoxd.pid -U tuntoxd -s $PASSWORD
User=tuntoxd
Group=tuntoxd

[Install]
WantedBy=multi-user.target
